.header 
  height 50px
  width 100%
  display flex
  z-index 9999
  background-color #e6e6e6
  .icon-font
    width 10%
    height 20px
    margin-left 10px
    margin-top 15px
    margin-bottom 15px
  .icon-font1
    flex 1
    margin-top 10px
    margin-bottom 10px
    text-align center
  .icon-font2
    width 10%
    height 30px
    margin-top 10px
    margin-bottom 10px
    margin-right 10px