.pos
  transform translateY(-100%) 
  position absolute
  width 100%
  height 100%
  background-color #f6f6f6
  -webkit-transform .45s cubic-bezier(.4,.01,.165,.99);
  transition: transform .45s cubic-bezier(.4,.01,.165,.99),opacity 0s linear .45s,top 0s linear .45s
  .nav-aside
    position absolute
    width 100%
    height 35%
    display flex
    flex-wrap wrap
    .nav-shop
      width 25%
      height 74px
      border: 1px solid #e6e6e6;
      box-sizing: border-box;
      .nav-img
        width 100%
        height 53.125px
        text-align center
        img
          margin-top 17%
          width 50%
          height 50%
      .nav-title1
        height: 20.875px;
        width: 100%;
        font-size: 8px;
        text-align: center;

.show
  position absolute
  z-index 30
  transform: translateZ(0);
  background-color #f6f6f6
  width 100%
  height 100%
  -webkit-transform .45s cubic-bezier(.4,.01,.165,.99);
  transition: transform .45s cubic-bezier(.4,.01,.165,.99),opacity 0s linear
  .nav-aside
    margin-top 15%
    position absolute
    box-sizing border-box
    width 100%
    margin-bottom 0
    display flex
    flex-wrap wrap
    height 35%
    .nav-shop
      border: 1px solid #e6e6e6;
      box-sizing: border-box;
      display block
      width 25%
      height 74px
      .nav-img
        width 100%
        height 53.125px
        text-align center
        img
          margin-top 17%
          width 45%
          height 45%
      .nav-title1
        height 20.875px
        width 100%
        font-size 8px
        text-align center


